/* a little css by Scen */

a:link    { color: #ffffff; }
a:visited { color: #dddddd; }
a:hover   { color: #ffffff; }
a:active  { color: #bbbbbb; }

html {
    background: #b2b0ff;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    font-family: monospace;
}

body {
    text-align: center;
}

table {
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header span {
    background: #b2b0ff;
    color: #d78752;
    text-shadow: 3px 3px #472800;
    font-size: 72px;
    vertical-align: middle;
    font-family: monospace;
}
