@import url("https://mspfa.com/css/?s=41577");

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: #CD5C08;
    background-size: 65px;
    color: #000000;
    background-image: url(./!f/stardchicken.png);
    background-size:45%;
    margin-top:10px;
    cursor: url("./!f/cursor.gif") 35 35, auto ;
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 1000px;
 
    margin: 0 auto;
   
}
#container a {
    color: black;
    font-weight: bold;

}

.tab {
    background-color: var(--colour-1);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    height: 500px
}

.tabs{
    height:25px;
    text-align: left;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition-duration:0.5s;
    transform: rotate(5deg);
}

.tabs:hover {
    transform: scaleY(1.25) rotate(5deg);
    transform-origin: center;
}

#header {
    width: 100%;
    background-color: black;
    height: 150px;
    background-size: 100%;
}



#flex {
    display: flex;
}


aside {
    background-color: black;
    width: 200px;
    padding: 20px;
    font-size: smaller;
    height: 500px
}

main {
    background-color: black;
    flex: 1;
    width:400px;
    padding: 20px;
    order: 2;
}

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

h1,
h2,
h3 {
    color: white;
}

h1 {
    font-size: 25px;
}

strong {
    color: white;
}

a:link, a:visited, a:hover, a:active {
    color:white;
}

.box {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
}

.expand {letter-spacing: normal;transition-duration:0.5s;}
.expand:hover {
    letter-spacing: 2px;
}

#topBar {
    width: 100%;
    height: 80px;
    font-size: smaller;
}

.gallery {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;}
  .gallery img {
    border: 1.5px solid darkgoldenrod;
    margin: 2px;}