:root {
    --colour-1: #FFCAD4;
    --colour-2: #8E7AB5;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: var(--colour-1);
    background-size: 65px;
    color: Black;
    background-image: url(images/cats.jpg);
    margin-top:10px;
    cursor: url("images/cursor.gif") 35 35, auto ;
}

* {
    box-sizing: border-box;
}
.tilt-shaking {
    animation: tilt-shaking 20s infinite;
  }

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    34% { transform: rotate(3deg); }
    66% { transform: rotate(-3deg); }
    90% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
  }

  @font-face {
    font-family: Skincake;
    src: url(Skincake/Skincake.ttf);
  }
  
#container {
    max-width: 1000px;
 
    margin: 0 auto;
   
}
#container a {
    color: black;
    font-weight: bold;

}

#header {
    width: 100%;
    background-color: var(--colour-2);
    height: 150px;
    background-size: 100%;
}



#flex {
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 900px}

.gallery img{
    width:250px;
    text-align: center;

}

aside {
    background-color: var(--colour-1);
    width: 300px;
    padding: 20px;
    font-size: smaller;
    height: 500px;
    color:black;
}

.comment-rotate {
    transition-duration: 0.5s;
    z-index: 1;
}
.comment-rotate:hover {
    transform:rotate(-10deg);
}

.tab {
    background-color: var(--colour-1);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    height: 500px
}

.tabs{
    height:25px;
    text-align: left;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition-duration:0.5s;
    transform: rotate(5deg);
}

.tabs:hover {
    transform: scaleY(1.25) rotate(5deg);
    transform-origin: center;
}

main {
    background-color: var(--colour-1);
    flex: 1;
    width:400px;
    padding: 20px;
    order: 2;
}

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

h1,
h2,
h3 {
    color: Black;
}

h1 {
    font-size: 25px;
}

strong {
    color: black;
}

a:link, a:visited, a:hover, a:active {
    color:black;
}

.draggable {
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   cursor: default;
}
.box {
    background-color: 87C4FF;
    border: 1px solid white;
    padding: 10px;
    color: black;
}

.border{
    border: 3px dashed grey;
}

.cover {
    border-radius: 5px;
    transition-duration: 0.5s;
}

.cover:hover {
    transform: scale(1.04);
}
.expand {letter-spacing: normal;transition-duration:0.5s;}
.expand:hover {
    letter-spacing: 2px;
}

.rotate {
    transition-duration: 0.5s;
    z-index: 1;
}
.rotate:hover {
    transform: rotate(20deg);
}
#topBar {
    width: 100%;
    height: 80px;
    font-size: smaller;
}

.gallery {
    height: 1200px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;}
  .gallery img {
    height: 250px;
    width: auto;
    margin: 2px;
    background-color: 87C4FF;
    transition-duration: 0.5s;
}

    .gallery img:hover {transform: scale(1.1);}